body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 16px;
    height: 100%;
    background: hsl(185, 41%, 84%);
}

::placeholder {
    font-family: 'Space Mono', sans-serif;
    color: #798989;
    font-weight: 700;
    font-size: 1rem;
}

label {
    padding-bottom: .4rem;
}

.tip, .total {
    display: flex;
    justify-content: space-between;
}

.tip-amount, .total-amount {
    color: hsl(0, 0%, 100%);
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.amount {
    font-size: 1.8rem;
    color: hsl(172, 67%, 45%);
}

.total-amount__subtitle, .tip-amount__subtitle {
    font-size: .8rem;
    color: hsl(184, 14%, 56%);
}